<div class="main-content">
    <div class="container-fluid">
        <div class="row">        
        <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <table class="table"  >
                <tbody>
                <div class="main-content">
                    <div class="card-header card-header-danger" >
                    <h4 class="card-title">OPCIONES</h4>
                    <p class="card-category"> Actualizacion de Opciones</p></div>
                    <div *ngIf="errorMessage" class="alert alert-warning">
                        <!-- si el mensaje es cierto entonces aplico el tah HTML neste caso un div -->
                    <strong>Warning!</strong> {{errorMessage | json}} </div>
                </div> 
            </tbody>
        </table>    
        </div>    
        </div>
        </div>
    </div>                      
    <div class="row">        
    <div class="col-md-12">
    <div class="card">
    <div class="card-header card-header-danger">
        <table class="table" >
        <thead class=" text-primary">
        <tr>
            <!-- The scope attribute specifies whether a header cell is a header for a column, row, or group of columns or rows.
            Note: The scope attribute has no visual effect in ordinary web browsers, but can be used by screen readers.  -->
			<th scope="col">Id</th>
			<th scope="col">optImpGuide</th>
			<th scope="col">optName</th>
			<th scope="col">optDsc</th>
			<th scope="col">optValFrom</th>
		    <th scope="col">optValTo</th>
		    <th scope="col">optTitle</th>
		    <th scope="col">optSubTitle</th>
            <th scope="col">optTitleImg</th>
		    <th scope="col">optSrcImg</th>
			<th scope="col">optTitleIcon</th>
			<th scope="col">optSrcIcon</th>
            <th i class="bi bi-pen"></th>
            <th i class="bi bi-trash3" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let appopt of appopts">
            <td>{{ appopt.id }}</td>
            <td>{{ appopt.optImpGuide }}</td>
            <td>{{ appopt.optName }}</td>
            <td>{{ appopt.optDsc }}</td>
			<td>{{ appopt.optValFrom }}</td>
			<td>{{ appopt.optValTo }}</td>
			<td>{{ appopt.optTitle }}</td>
			<td>{{ appopt.optSubTitle }}</td>
            <td>{{ appopt.optTitleImg }}</td>
			<td>{{ appopt.optSrcImg }}</td>
			<td>{{ appopt.optTitleIcon }}</td>
			<td>{{ appopt.optSrcIcon }}</td>
            <td><a i class="bi bi-pen" href="appopts/{{ appopt.id }}/edit"></a></td>            
            <td><a i class="bi bi-trash3" href="appopts/{{ appopt.id }}/delete"></a></td>
        </tr>
        </tbody>
        </table>
        </div>
            <div class="card-body" >
            <a  class="btn btn-primary btn-rounded"  (click)="gotoAppOptNew()">New Record</a>
        </div>
    </div>
    </div>
    </div>
    </div>
</div> 
<div class="container">
    <router-outlet></router-outlet>
</div>

