<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm" id=" reguser" name="reguser"> 

<!--    
          debe traer el id del usuario y enviarlo en el subnit
          como campo obligatorio
          asi se genera el sabe del comonente reguser que es el id del form]
          como llebnar los enu: todos son servicios !!
          <input hidden type="text" [(ngModel)]="{{id}}" 
            class="form-control" 
            id="idUser" 
            name="idUser" 
            required #name="ngModel"> -->
<!--         <div class="form-group">
            <label for="propertyType">Property Type</label>
            <select id="regAppName" ="regAppName" name="regAppName">
              <option [ngValue]="null">Select one...</option>
              <option *ngFor="let regAppName of eregAppName | keyvalue" [ngValue]="regAppName.value">{{regAppName.value}}</option>
            </select>
          </div>   -->         
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="reguser.idApp" 
            class="form-control" 
            id="idApp" 
            name="idApp" 
            placeholder="Enter your name"
            required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
        <div class="form-group">
          <label for="regAppName">regAppName</label>
          <input type="text" [(ngModel)]="reguser.regAppName" 
            class="form-control" 
            id="emailPersonal" 
            name="emailPersonal" 
            placeholder="Enter your email address"
            required #email="ngModel">
          <div [hidden]="!email.pristine" class="alert alert-danger">regAppName is required</div>
        </div>
        <div class="card-body">
          <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Actualizar Sub</button>
          <!-- <a type="button" class="btn btn-primary btn-rounded" (click)="gotoRegUser(reguser.idApp)">Add Registro</a> -->
          <a type="button" class="btn btn-primary btn-rounded" (click)="gotoRegUserSave(reguser.idApp)">Actualizar goto</a>
          <a type="button" class="btn btn-primary btn-rounded" (click)="gotoRegUserDelete(reguser.idApp)">Delete</a>
          </div>
      </form>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>