<div class="main-content">
    <div class="container-fluid">
        <div class="row">        
        <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <table class="table"  >
                <tbody>
                <div class="main-content">
                    <div class="card-header card-header-danger" >
                    <h4 class="card-title">AppAgree</h4>
                    <p class="card-category">Detalle de AppAgree</p></div>
                    <div *ngIf="errorMessage" class="alert alert-warning">
                        <!-- si el mensaje es cierto entonces aplico el tah HTML neste caso un div -->
                    <strong>Warning!</strong> {{errorMessage | json}} </div>
                </div> 
            </tbody>
        </table>    
        </div>    
        </div>
        </div>
    </div>                      
    <div class="row">        
    <div class="col-md-12">
    <div class="card">
    <div class="card-header card-header-danger">
        <table class="table" >
        <thead class=" text-primary">
        <tr>
            <!-- The scope attribute specifies whether a header cell is a header for a column, row, or group of columns or rows.
            Note: The scope attribute has no visual effect in ordinary web browsers, but can be used by screen readers.  -->
			
			<th scope="col">Id</th>
			<th scope="col">appAgreeTxt</th>
			<th scope="col">appAgreeIco</th>
			<th scope="col">appRecomTxt</th>
			<th scope="col">appAgreeImg</th>
		    <th scope="col">appRecomImg</th>
		    <th scope="col">appRecomIco</th>
	            <th i class="bi bi-pen"></th>
            <th i class="bi bi-trash3" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let appagree of appagrees">
            <td>{{ appagree.id }}</td>
            <td>{{ appagree.appAgreeTxt }}</td>
            <td>{{ appagree.appAgreeIco }}</td>
            <td>{{ appagree.appRecomTxt }}</td>
			<td>{{ appagree.appAgreeImg }}</td>
			<td>{{ appagree.appRecomImg }}</td>
			<td>{{ appagree.appRecomIco }}</td>
            <td><a i class="bi bi-pen" href="appagrees/{{ appagree.id }}/edit"></a></td>            
            <td><a i class="bi bi-trash3" href="appagrees/{{ appagree.id }}/delete"></a></td>
        </tr>
        </tbody>
        </table>
        </div>
            <div class="card-body" >
            <a  class="btn btn-primary btn-rounded"  (click)="gotoAppAgreeNew()">New Record</a>
        </div>
    </div>
    </div>
    </div>
    </div>
</div> 
<div class="container">
    <router-outlet></router-outlet>
</div>

